/* Universal */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/stacked_circles.png");
    padding: 120px 0 0;
    /* margin: 0 0 59px; */
}

.container {
    max-width: 960px;
}

h1,
h2,
h3,
p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}

h2,
h3 {
    font-size: 22px;
}

/* Navbar */

.navbar {
    overflow: hidden;
    background: #fff;
    border-bottom: 2px solid #ccc;
    border-top: none;
    border-radius: 0;
}

.navbar-default .navbar-nav li a {
    color: #999;
    line-height: 55px;
}

.navbar-default .navbar-nav li p {
    color: #efefef;
    line-height: 79px;
    font-weight: 100;
}

#logo {
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 58px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

/* About */

.main-section {
    padding: 0 30px 30px 30px;
    background: #fff;
    border: 1px solid #ddd;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

/* Sidebar */

.sidebar {
    padding: 10px 30px 30px 30px;
    background: #fff;
    border: 1px solid #ddd;
}

h3,
.sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}

/* Portfolio */

.work {
    margin: 20px 0 25px;
    overflow: hidden;
  }

  .work img {
      width: 100%;
  }


  .work h3 {
    /* position: absolute; */
    bottom: 20px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

  /* contact */

form {
    width: 100%;
}

input, textarea {
    color: #bbb;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 30px 20px 0;
}

textarea {
    height: 200px;
}

.contact {
    color: #777;
    font-weight: 100;
}

#contact-button {
    height: 40px;
    width: 115px;
    background-color: #4aaaa5;
    color: #fff;
    border: none;

}

/* Footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 102px;
    background-color: #666;
    padding-top: 30px;
    border-top: #4aaaa5 solid 8px;
    margin: 30px 0 0;
}

.copyright {
    color: #ccc;
    text-align: center;
    font-size: 12px;
}